@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Sanchez:ital@1&display=swap');
.App {
  text-align: center;
}
body {
  box-sizing: border-box;
  font-family: 'Sanchez', serif;
}

button {
  font-size: 1em;
}

nav {
  font-family: 'Love Ya Like A Sister', cursive;
  
  background-color: #FFC75F;
  padding: 0.5em;
  padding-left: 1em;
  display: flex;
  
}
.navDivTitle {
  color: white;
  display: flex;
  align-items: center;
 
}

.navDivLoggedIn {
  display: flex; 
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-end;
  padding-left: 50%;
  
}
.navLink {
  padding: 0.5em;
  color: white;
  text-decoration: none;
}


.loginForm {
    margin-top: 6em;
}


.translationUl {
  padding-left: 0;
}
.translationLi {
  list-style: none;
  margin-left: 0;
}
/* 
YELLOW: #FFC75F
YELLOW_DARK: #E7B355
PURPLE: #845EC2
LIGHT_GREY: #EFEFEF (Inputs)
GREY: #969696 (Text)
*/